body {
    color: #ffffff;
    font-family: "Segoe UI", Myriad, Helvetica, Arial, "DejaVu Sans", "Noto Sans CJK SC", "Source Han Sans SC", "思源黑体", "等线", "华文细黑", "微软雅黑";
    font-size: 20px;
    text-align: left;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

.small {
    font-size: 12px;
}

#container {
    text-align: center;
    width: 100%;
    height: 100%;
}



#info {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
}

h3, p {
    margin-top: 5px;
    margin-bottom: 5px;
}




img {
    margin-top: 40px;
}

a {
    color: #ffffff4a;
    outline: none;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ffffff;
}

#loading {
    width: 400px;
    height: 20px;
    margin: 15px auto;
}

#loading span {
    height: 5px;
    width: 25px;
    background: #ffffff;
    display: inline-block;
    animation: loader 1s infinite;
}

#loading p {
    color: #ffffff88;
    font-size: 20px;
    font-family: Helvetica;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: .05em;
    text-align: center;
}

@keyframes loader {
    50% {
        height: 15px;
        margin-top: 0px;
        opacity: .5;
    }
}

#loading span:nth-child(1) {
    animation-delay: .1s;
}

#loading span:nth-child(2) {
    animation-delay: .2s;
}

#loading span:nth-child(3) {
    animation-delay: .3s;
}

#loading span:nth-child(4) {
    animation-delay: .4s;
}

#loading span:nth-child(5) {
    animation-delay: .5s;
}

#loading span:nth-child(6) {
    animation-delay: .6s;
}
